@model IEnumerable<Ayana.Models.Payment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayedAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPaymentValid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayedAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPaymentValid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
