@using System.Security.Claims;
@model Ayana.Models.DtoRequest
@using Ayana.Data;

@{
    ViewData["Title"] = "Cart";
}

<div style="margin-bottom: 100px;">
    <style>
        .order-container {
            flex-direction: column;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            padding: 10px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .product-items {
            margin-left: 80px;
            flex-direction: column;
            width: 340px;
        }

        .order-info {
            margin-bottom: 10px;
        }

        .product-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        .product-box {
            padding: 10px;
            margin: 10px;
            text-align: center;
        }

        .product-image {
            width: 140px;
            height: 150px;
            align-content: center;
            object-fit: contain;
        }

        .remove-button {
            background: #d8e5f1;
            color: dimgrey;
            border: none;
            border-radius: 4px;
            height: 10px;
            font-size: 12px;
            align-content: center;
        }

        .product-name {
            margin-top: 5px;
        }

        .wide-input {
            width: 300px;
            margin-bottom: 150px;
            margin-left: 50px;
        }

        .bigger-box {
            height: 50px;
        }

        .continue-shopping {
            display: inline-block;
            font-size: medium;
            text-decoration: underline;
            position: relative;
            padding-left: 30px;
        }

            .continue-shopping::before {
                content: '\2190';
                position: absolute;
                left: 0;
            }

        .message {
            margin-top: 10px;
        }
    </style>

    @if (ViewBag.UserCarts.Count != 0)
    {

        <a asp-area="" asp-controller="Home" asp-action="Index" class="continue-shopping" style="-webkit-text-fill-color: black; margin-bottom: 30px; margin-top: 30px">Continue shopping</a>


        <br>
        <div style="display:flex">
            <div class="product-items">
                @for (var i = 0; i < ViewBag.UserCarts.Count; i++)
                {
                    var cart = ViewBag.UserCarts[i];
                    var products = ViewBag.CartProducts[i];

                    <div style="margin-bottom: 20px;">
                        <div style="display: flex; align-items: center; background-color:#d8e5f1">
                            @foreach (var product in products)
                            {

                                <div style="padding: 10px;margin-left:20px">

                                    <a onclick="RemoveItem()" class="remove-button">Remove Item</a>
                                    <input id="productKey" type="hidden" value="@product.ProductID">


                                    <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductID" style="-webkit-text-fill-color:black;">

                                        <img src="@product.ImageUrl" alt="@product.Name" style="margin-top:10px;width: 280px; border: 2px solid #d8e5f1; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); border-radius: 5px;">
                                        <p style="margin-top: 7px;font-size:20px;font-weight: bold;">@product.Name</p>
                                    </a>
                                    <p style="margin-top: 7px;">BAM @product.Price.00</p>
                                    <p style="margin-top: 7px;">Quantity: @cart.ProductQuantity</p>


                                </div>
                            }
                        </div>
                    </div>
                }
            </div>

            <div>
                <div style="margin-left:300px" class="wide-input">
                    <form asp-action="OrderCreate">

                        <div class="form-group">

                            <p style="font-style:italic;">Input a valid code to get the best deal!</p>
                            <label asp-for="@Model.discount.DiscountCode" class="control-label"></label>

                            <div style="display:flex; align-items:center">
                                <input id="discountCodeInput" asp-for="@Model.discount.DiscountCode" class="form-control" value="@ViewBag.DiscountCode" style="width: 88%;" />
                                <span class="input-group-append">
                                    @if (string.IsNullOrWhiteSpace(ViewBag.DiscountCode) || ViewBag.DiscountCode == "Wrong code,try again..." || ViewBag.DiscountCode == "Code is expired...")
                                    {
                                        <button id="applyDiscountBtn" style="background-color: #f2b6c1; border:white;padding: 10px 20px; height:35px;border-radius: 5px; text-decoration: none; color: #fff; font-weight: bold">&#x2713;</button>

                                    }
                                </span>
                            </div>

                            <span asp-validation-for="@Model.discount.DiscountCode" class="text-danger"></span>
                        </div>

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="@Model.payment.DeliveryAddress" class="control-label"></label>
                            <input asp-for="@Model.payment.DeliveryAddress" class="form-control" required />
                            <span asp-validation-for="@Model.payment.DeliveryAddress" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.order.DeliveryDate" class="control-label"></label>
                            <input asp-for="@Model.order.DeliveryDate" class="form-control" required />
                            <span asp-validation-for="@Model.order.DeliveryDate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.order.personalMessage" class="control-label"></label>
                            <input asp-for="@Model.order.personalMessage" class="form-control" style="height:100px" />
                            <span asp-validation-for="@Model.order.personalMessage" class="text-danger"></span>
                        </div>


                        <div id="message" class="message" style="display: none; "></div>

                        <div class="form-group">
                            <label asp-for="@Model.payment.PaymentType" class="control-label"></label>
                            <select asp-for="@Model.payment.PaymentType" class="form-control" id="paymentType">
                                @foreach (var value in Enum.GetValues(typeof(PaymentType)))
                                {
                                    <option value="@value">
                                        @(
                                            (PaymentType)value
                                            )
                                    </option>
                                }
                            </select>
                            <span asp-validation-for="@Model.payment.PaymentType" class="text-danger"></span>
                        </div>



                        <input type="hidden" asp-for="@Model.subscription.Name" value="@ViewBag.Data1" />
                        <input type="hidden" asp-for="@Model.subscription.Price" value="@ViewBag.Data2" />

                        <div class="form-group" id="bankAccountField" style="display: none;">
                            <label asp-for="@Model.payment.BankAccount" class="control-label"></label>
                            <input asp-for="@Model.payment.BankAccount" class="form-control" type="number" />
                            <span asp-validation-for="@Model.payment.BankAccount" class="text-danger"></span>
                        </div>


                        <input type="hidden" asp-for="@Model.payment.PayedAmount" value="@ViewBag.TotalAmountToPay" />
                        <p style="margin-top:20px;margin-bottom:20px;font-style: italic">Enjoy your free delivery shipment at Ayana!</p>



                        <p style="margin-bottom:10px;font-weight: bold; font-size: 16px;">Total cost: BAM @ViewBag.TotalAmountToPay</p>


                        <div class="form-group">

                            <input type="submit" value="Pay now" style="background-color: #f2b6c1; border:none; margin-top: 20px; padding: 10px 20px; border-radius: 5px; text-decoration: none; color: white; font-weight: bold" />

                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <div style="text-align: center; padding: 20px;">
            <h3>Oops.. Your cart is empty.</h3>
            <p>Start exploring our products and place your first order to enjoy our offerings!</p>
        </div>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="continue-shopping" style="-webkit-text-fill-color:black;">Shop now</a>

    }
    <br>
    <br>
    <br>
    <div style="height: 20px;"></div>
</div>

<script>
    $(function () {
        $('#paymentType').change(function () {
            var selectedPaymentType = $(this).val();
            if (selectedPaymentType === 'CreditCard') {
                $('#bankAccountField').show();
            } else {
                $('#bankAccountField').hide();
            }
        });
    });


    document.getElementById("applyDiscountBtn").addEventListener("click", ApplyDiscount);


    async function ApplyDiscount() {

        const discountCode = document.getElementById("discountCodeInput").value;

        const parameters = new URLSearchParams();

        parameters.append("code", discountCode);

        const url = "/DtoRequests/ApplyDiscount?" + parameters;

        // double check this
        fetch(url);

        window.location.href = url;




    }

    function RemoveItem() {
        const prodId = document.getElementById('productKey').value;
        const parameters = new URLSearchParams();
        parameters.append("id", prodId);
        const url = "/DtoRequests/RemoveItem?" + parameters.toString();

        fetch(url)
            .then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    console.log("Error removing item from cart");
                }
            })
            .catch(error => {
                console.log("Error removing item from cart:", error);
            });
    }



</script>