@model IEnumerable<Ayana.Models.Discount>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiscountCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountBegins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountEnds)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountBegins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountEnds)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiscountID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DiscountID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DiscountID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
