@model Ayana.Models.Product

@{
    ViewData["Title"] = "Details";
}
<style>
    .margin-zero {
        margin: 0;
    }

    .message {
        margin-top: 10px;
    }

    .window-container {
        height: 600px; 
    }
</style>
<div class="window-container" style="display: flex;  justify-content: space-between;  ">
    <img src="@Model.ImageUrl" alt="" width="400" height="400" style=" margin-left: 150px;">
    <div>
        <p style="font-weight: 600;  margin-right:150px; font-style: italic; font-size: medium;">@Model.Name</p>
        <p style="font-weight: 300;  margin-right:150px; font-style: italic; font-size: small;">BAM @Model.Price.00</p>
        <div style="width:250px;margin-top:40px; margin-right:150px; ">
            @Model.Description
        </div>
        <button id="addToCartBtn" style="background-color: #f2b6c1; margin-top: 20px; padding: 10px 20px; border-radius: 5px; text-decoration: none; color: #fff; font-weight: bold;">Add to Cart</button>
        <div id="message" class="message" style="display: none; "></div>
    </div>
</div>
<script>
    document.getElementById("addToCartBtn").addEventListener("click", function () {
        document.getElementById("message").style.display = "block";
        document.getElementById("message").textContent = "Item added to cart!";
    });

    document.getElementById('addToCartBtn').addEventListener('click', AddToCart);

    async function AddToCart() {
        const parameters = new URLSearchParams();
        parameters.append("id", @Model.ProductID.ToString());
        const url = "/DtoRequests/AddToCart?" + parameters.toString();

        console.log(url);

        const response = await fetch(url)
            .then(result => result.json());

        console.log(response);
   
    }
</script>



    
  