@model Ayana.Models.Product

@{
    ViewData["Title"] = "Details";
}
<style>
    .margin-zero {
        margin: 0;
    }

    .message {
        margin-top: 10px;
    }

    .window-container {
        height: 600px; 
        margin-top: 60px
    }

    .continue-shopping {
        display: inline-block;
        font-size: medium;
        text-decoration: underline;
        position: relative;
        padding-left: 30px;
    }

        .continue-shopping::before {
            content: '\2190';
            position: absolute;
            left: 0;
        }
</style>
@if (User.IsInRole("Employee"))
{
        <div class="row" style="margin-bottom:100px; margin-left:710px;">
    <div class="col-md-4">
            <form asp-action="Edit" asp-route-id="@Model.ProductID">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductID" />
            <input type="hidden" asp-for="ImageUrl"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" style="width:max-content;" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
                <div class="form-group" style="width:max-content; ">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
                <div class="form-group" style="width:max-content; ">
                    <label asp-for="FlowerType" class="control-label"></label>
                    <input asp-for="FlowerType" class="form-control" />
                    <span asp-validation-for="FlowerType" class="text-danger"></span>
                </div>
            <div class="form-group" style="width:max-content; ">
                <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="6" ></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" style="background-color: #f2b6c1; border-color:white; padding: 10px 20px; border-radius: 5px; text-decoration: none; color: #fff; font-weight: bold;" />
            </div>
        </form>
    </div>
</div>
}
else{
    <a asp-area="" asp-controller="Home" asp-action="Index" class="continue-shopping" style="-webkit-text-fill-color:black;">Continue shopping</a>
<div class="window-container" style="display: flex;  justify-content: space-between;  ">
    <img src="@Model.ImageUrl" alt="" width="400" height="400" style=" margin-left: 150px;">
    <div>
        <p style="font-weight: 600;  margin-right:150px; font-style: italic; font-size: medium;">@Model.Name</p>
        <p style="font-weight: 300;  margin-right:150px; font-style: italic; font-size: small;">BAM @Model.Price.00</p>
        <div style="width:250px;margin-top:40px; margin-right:150px; ">
            @Model.Description
        </div>
       
            <button id="addToCartBtn" style="background-color: #f2b6c1; border:none; margin-top: 20px; padding: 10px 20px; border-radius: 5px; text-decoration: none; color: #fff; font-weight: bold;">Add to Cart</button>

        <div id="message" class="message" style="display: none; "></div>
    </div>
</div>}
<script>
    document.getElementById("addToCartBtn").addEventListener("click", function () {
        document.getElementById("message").style.display = "block";
        document.getElementById("message").textContent = "Item added to cart!";
    });

    document.getElementById('addToCartBtn').addEventListener('click', AddToCart);

    async function AddToCart() {
        const parameters = new URLSearchParams();
        parameters.append("id", @Model.ProductID.ToString());
        const url = "/DtoRequests/AddToCart?" + parameters.toString();

        console.log(url);

        const response = await fetch(url)
            .then(result => result.json());

        console.log(response);
   
    }
</script>



    
  