@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
    background-color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow:auto;
    }
    .boxed{
        background-color: #fbf8f9;
    }
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

    .image-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 10px;
    }

    .image-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

      
</style>
<div class="row slideanim" style="transition:ease-in-out;">
    <div  style="background: #fbf8f9;text-align:left;padding:1em 0; margin-left:10px;  width:85%; height:400%;">
        <h1 style="margin-left:50px; margin-top:10px;font-style:italic;">Say it with flowers</h1>
        <p style="margin-left:50px;margin-top:10px;font-style:italic;">Whatever the occasion, our flowers make it special!</p>
        <a asp-area="" asp-controller="Home" asp-action="Subscription" style="margin-left:80px;margin-top:30px;margin-bottom:25px; background-color:grey; border-color:darkgrey; -webkit-text-fill-color:white;"> Subscription</a>
   </div>
    <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqAT5vptItn_pU8w3O25sGfAulMy1N9LZ8YnIQEOWSWNNd-38b" style="float:right; margin-right:20px;" height="137">
</div>
<br>
<p style="text-align:center; font-size:x-large; font-style:italic; font-weight:300;">Best sellers</p>
<br>
<div class="row text-center">
    @foreach (Product url in ViewBag.bestSellers)
    {
        <div class="col-sm-4">
            <div>
                <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@url.ProductID" style="-webkit-text-fill-color:black;">
                <img src="https://e0.pxfuel.com/wallpapers/996/249/desktop-wallpaper-earth-white-tulip-white-tulips.jpg" alt="" width="200" height="200">
                <p><strong> @url.Name</strong></p></a>
                <p>BAM @url.Price.00</p>
            </div>
        </div>
    }
</div>
<div class="row slideanim" style="transition:ease-in-out; margin-top:-2px; " >
    <div style="background: #ddeffb;text-align:left;padding:1em 0; margin-left:10px;  width:85%; height:400%;">
        <h1 style="margin-left:50px; margin-top:10px;font-style:italic;">cheer someone up...</h1>
        <p style="margin-left:50px;margin-top:10px;font-style:italic;">Because you don't need a special occasion to suprise the one you love</p>
        <a style="-webkit-text-fill-color:black;" asp-area="" asp-controller="Subscriptions" asp-action="Index" style="margin-left:80px;margin-top:30px;margin-bottom:25px; background-color:grey; border-color:darkgrey; -webkit-text-fill-color:white;"> Shop now</a>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/0507/3754/5401/t/1/assets/CLMD_LOL_preset_proflowers-mx-tile-wide-lv-new.jpeg?v=1662494477" style="float:right; margin-right:20px;" height="137">
</div>
<br>
<p style="text-align:center; font-size:x-large; font-style:italic; font-weight:300;">Shop popular flowers</p>
<br>
<div class="row text-center">
    <div class="col-sm-4">
        <div>
            <img src="https://i.pinimg.com/originals/2f/7e/01/2f7e0131e0127fdf2e1d114e3f487905.jpg?v=1680812238" alt="" width="200" height="200">
            <p><strong>Roses </strong></p>
            <p></p>
        </div>
    </div>
    <div class="col-sm-4">
        <div>
            <img src="https://e0.pxfuel.com/wallpapers/996/249/desktop-wallpaper-earth-white-tulip-white-tulips.jpg" alt="" width="200" height="200">
            <p><strong>Tulips</strong></p>
            <p></p>
        </div>
    </div>
    <div class="col-sm-4">
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Sunflower_sky_backdrop.jpg/1200px-Sunflower_sky_backdrop.jpg" alt="" width="200" height="200">
            <p><strong>Sunflowers</strong></p>
            <p></p>
        </div>
    </div>
    </div>
<div class="row slideanim" style="transition:ease-in-out;">
    <div style="background: #f7ede5;text-align:left;padding:1em 0; margin-left:10px;  width:85%; height:400%;">
        <h1 style="margin-left:50px; margin-top:10px;font-style:italic;">happy birthday</h1>
        <p style="margin-left:50px;margin-top:10px;font-style:italic;">Celebrate your loved ones</p>

        <a style="-webkit-text-fill-color:black;" asp-area="" asp-controller="Home" asp-action="CategoryView" asp-route-category1="Birthday" style="margin-left:80px;margin-top:30px;margin-bottom:25px; background-color:grey; border-color:darkgrey; -webkit-text-fill-color:white;"> Shop now</a>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/0507/3754/5401/t/1/assets/V5449D_LOL_preset_proflowers-mx-hero-lv-new.jpeg?v=1637201054&v=1680812238" style="float:right; margin-right:20px;" height="137">
</div>
<br>
<p style="text-align:center; font-size:x-large; font-style:italic; font-weight:300;">Birthday best sellers</p>
<br>
<div class="row text-center">
    @foreach (Product url in ViewBag.birthdayBestSellers)
    {
        <div class="col-sm-4">
            <div>
                <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@url.ProductID" style="-webkit-text-fill-color:black;">
                <img src="https://e0.pxfuel.com/wallpapers/996/249/desktop-wallpaper-earth-white-tulip-white-tulips.jpg" alt="" width="200" height="200">
                <p><strong> @url.Name</strong></p></a>
                <p>BAM @url.Price.00</p>
            </div>
        </div>
    }
</div>

<div class="row slideanim" style="transition:ease-in-out;">
    <div style="background: #dae1f1;text-align:left;padding:1em 0; margin-left:10px;  width:85%; height:400%;">
        <h1 style="margin-left:50px; margin-top:10px;font-style:italic;">for mom</h1>
        <p style="margin-left:50px;margin-top:10px;font-style:italic;">Suprise her</p>

        <a style="-webkit-text-fill-color:black;" asp-area="" asp-controller="Home" asp-action="CategoryView" asp-route-category1="mother's day" style="margin-left:80px;margin-top:30px;margin-bottom:25px; background-color:grey; border-color:darkgrey; -webkit-text-fill-color:white;"> Shop Mother's day</a>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/0507/3754/5401/t/1/assets/L5496D_LOL_preset_proflowers-mx-hero-lv-new.jpeg?v=1674762178&v=1680812238" style="float:right; margin-right:20px;" height="137">
</div>
<br>
<p style="text-align:center; font-size:x-large; font-style:italic; font-weight:300;">Shop by occasion</p>
<br>
<div class="row text-center">
    <div class="col-sm-3">
        <div>
            <a style="-webkit-text-fill-color:black;" asp-area="" asp-controller="Home" asp-action="CategoryView" asp-route-category1="Mother's day">
            <img src="https://thumbs.dreamstime.com/b/bouquet-colorful-roses-lisianthus-lilac-flowers-vector-illustration-pink-yellow-blue-white-hydrangea-green-leaves-50384792.jpg?v=1680812238" alt="" width="200" height="200">
            <p ><strong>Mother's day</strong></p>
                <p></p>
            </a>
        </div>
    </div>
    <div class="col-sm-3">
        <div>
            <a style="-webkit-text-fill-color:black;" asp-area="" asp-controller="Home" asp-action="CategoryView" asp-route-category1="cheer someone up">
            <img src="https://img.freepik.com/premium-vector/flower-bouquet_463755-102.jpg?w=2000&v=1680812238" alt="" width="200" height="200">
            <p><strong>cheer someone up</strong></p>
            <p></p></a>
        </div>
    </div>


    <div class="col-sm-3">
        <div>
            <a style="-webkit-text-fill-color:black;" asp-area="" asp-controller="Home" asp-action="CategoryView" asp-route-category1="Valentine's day">
            <img src="https://img.freepik.com/premium-vector/vintage-white-flowers-bouquet-with-green-leaves-painting-watercolor_150636-178.jpg?v=1680812238" alt="" width="200" height="200">
            <p><strong>Valentine's day</strong></p>
            <p></p></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div>
            <a style="-webkit-text-fill-color:black;" asp-area="" asp-controller="Home" asp-action="CategoryView" asp-route-category1="Love & romance">
            <img src="https://previews.123rf.com/images/naddya/naddya1709/naddya170900016/87158697-vector-bouquet-of-roses-and-flowers.jpg?v=1680812238" alt="" width="200" height="200">
            <p><strong>Love & romance</strong></p>
            <p></p></a>
        </div>
    </div>
</div>
<br>
<br>
<div class="row text-center">
    <div class="col-sm-3">
        <div>
            <a style="-webkit-text-fill-color:black;" asp-area="" asp-controller="Home" asp-action="CategoryView" asp-route-category1="thank you">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0bVLNgQf7g6JRGp0maeZ2iDTm5wjyj3_Ix9EDvB5VYiT9UTnN" alt="" width="200" height="200">
            <p><strong>thank you</strong></p>
            <p></p></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div><a style="-webkit-text-fill-color:black;" asp-area="" asp-controller="Home" asp-action="CategoryView" asp-route-category1="Anniversary">
            <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTtqMddvmPggB43olPbwj4kalf5kkjqbVhwdtggBkamIuOcrtGT" alt="" width="200" height="200">
            <p><strong>anniversary</strong></p>
            <p></p></a>
        </div>
    </div>


    <div class="col-sm-3">
        <div><a style="-webkit-text-fill-color:black;" asp-area="" asp-controller="Home" asp-action="CategoryView" asp-route-category1="Birthday">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCEAC6WqOSHkc9MPDlqstzyNEEoYUUBzWQgg&usqp=CAU" alt="" width="200" height="200">
            <p><strong>birthday</strong></p>
            <p></p></a>
        </div>
    </div>
    <div class="col-sm-3" style="margin-bottom:100px;">
        <div>
            <a style="-webkit-text-fill-color:black;" asp-area="" asp-controller="Home" asp-action="CategoryView" asp-route-category1="woman's day">
            <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSsD308WKkoZH9iv9NmYPZUBhzWVrdQlsPxuKKBDrmxzM95N-v1" alt="" width="200" height="200">
            <p><strong>woman's day</strong></p>
            <p></p></a>
        </div>
    </div>
</div>