@model Ayana.Models.Order

@{
    ViewData["Title"] = "User Orders";
}

<div style="margin-bottom: 100px;">
    <style>
        .order {
            background-color: #ddeffb;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin-bottom: 20px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }

        .order-info {
            margin-bottom: 10px;
        }

        .product-container {
            display: flex;
            flex-wrap: wrap;
        }

        .product-box {
            padding: 10px;
            margin: 10px;
            text-align: center;
        }

        .product-image {
            width: 150px;
            height: 150px;
            object-fit: contain;
        }

        .product-name {
            margin-top: 5px;
        }

        .continue-shopping {
            display: inline-block;
            font-size: medium;
            text-decoration: underline;
            position: relative;
            padding-left: 30px;
        }

            .continue-shopping::before {
                content: '\2190';
                position: absolute;
                left: 0;
            }
    </style>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="continue-shopping" style="-webkit-text-fill-color:black;">Continue shopping </a>
    <div style="background-color:#FFE4E1; margin-left:-30px; margin-right:-30px; margin-top:10px; height:300px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
        <br>
        <div style="display:flex;align-items:center;">
            <div style="flex-basis: 60%; margin-left:30px; margin-right:10px;">
                <p style="margin-top:-10px; font-size: 30px; font-weight: bold;">Dear Valued Customer</p>
                <br>
                <p style="margin-top:-10px; margin-right:100px;">
                    We hope this message finds you well. We wanted to take a moment to express how important your feedback is to us as a flower shop. Your opinion matters, and we would greatly appreciate it if you could take a few moments to rate your recent order. By doing so, you'll be making a significant impact on our business and helping us serve you and other customers even better.
                </p>
            </div>
            <div style="flex-basis: 40%; text-align: right;align-items:center;">
                <img src="https://assets.bigcartel.com/assets/194010/Beige+Pale+Pink+Modern+Client+Review+Instagram+Post.jpg?w=2400&h=2400&fit=clip" style="width: auto; height:260px;margin-right:30px;">
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="order-container">
        @if (ViewBag.UserOrders.Count == 0)
        {
            <div style="text-align: center; padding: 20px;">
                <h3>Oops.. You haven't made any orders yet</h3>
                <p>Start exploring our products and place your first order to enjoy our offerings!</p>
            </div>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="continue-shopping" style="-webkit-text-fill-color:black;">Shop now</a>
        }
        @for (var i = 0; i < ViewBag.UserOrders.Count; i++)
        {
            var order = ViewBag.UserOrders[i];
            var products = ViewBag.OrderProducts[i];

            <div class="order">
                <div class="order-info">
                    <p><strong>Total Amount Paid:</strong> @order.TotalAmountToPay BAM</p>
                    <p><strong>Delivery Date:</strong> @order.DeliveryDate</p>
                    <p>
                        <strong>Delivery Address:</strong> @order.Payment.DeliveryAddress
                    </p>
                    <p><strong>Products:</strong></p>
                    <div class="product-container">
                        @foreach (var product in products)
                        {
                            <div class="product-box">
                                <img src="@product.ImageUrl" alt="@product.Name" class="product-image">
                                <p class="product-name">@product.Name</p>
                            </div>
                        }
                    </div>
                </div>
                <style>
                    .average-rating {
                        position: relative;
                        appearance: none;
                        color: transparent;
                        display: inline-block;
                        vertical-align: baseline;
                        margin-right: 50px
                    }

                        .average-rating::before {
                            content: '★★★★★';
                            position: absolute;
                            top: 0;
                            left: 0;
                            color: rgba(0,0,0,0.2);
                            background: linear-gradient(90deg, gold var(--percent), rgba(0,0,0,0.2) var(--percent));
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }

                    meter.average-rating {
                        transform: scale(3);
                    }</style>
                @if (order.Rating == null)
                {
                    <form asp-action="Edit">
                        <div style="display: flex; align-items: center;">
                            <br>
                            <br>
                            <div style="margin-right: 20px;">
                                <input type="hidden" asp-for="OrderID" value="@order.OrderID" />
                                <label asp-for="Rating" class="control-label">Add your rating:</label>
                                <div style="display: flex;">
                                    <select asp-for="Rating" class="form-control" id="paymentType">
                                        @for (var j = 1; j <= 5; j++)
                                        {
                                            <option value="@j">@j</option>
                                        }
                                    </select>
                                    <button type="submit" class="btn btn-primary" style="margin-left: 10px;padding: 6px 12px; font-size: 12px;height: 26px;margin-top:5px;">
                                        &#x2713;
                                    </button>
                                </div>
                                <span asp-validation-for="Rating" class="text-danger"></span>
                            </div>
                        </div>
                    </form>
                }

                else
                {
                    <div style="position: relative;">
                        <meter class="average-rating" style="margin-top:10px; --percent: calc(@order.Rating/5*100%);" min="0" max="5" value=@order.Rating title="You rated this order @order.Rating out of 5 stars"></meter>
                    </div>
                }
            </div>
        }
    </div>


    <br>
    <br>
    <br>
    <div style="height:20px;"></div>
</div>
